body {
    font-family: "Roboto", "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--main-bg-color);
  }

.flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Container needed to position the button. Adjust the width as needed */
.container {
    position: relative;
    width: 30%;
}

/* Make the image responsive */
.container img {
    width: 100%;
    height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-45%, -45%);
    -ms-transform: translate(-45%, -45%);
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 12px 24px;
    border: solid black 2px;
    cursor: pointer;
    border-radius: 5px;
}

.container .btn:hover {
    background-color: black;
    color: white;
}

/* credit/inspo: https://www.w3schools.com/howto/howto_css_modals.asp */
/* the modal mask/background */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 40px;
    border: 1px solid #888;
    font-size: 14px;
    width: 80%; /* Could be more or less, depending on screen size */
}

.modal-content .p {
    font-size: 14;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
